<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Introduction to Command Line</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
          <a class="navbar-brand" href="/"><img src="/my-images/pulselogo.png" height=50px width=50px/></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/workshop">Workshop Plan<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/commandline">Command Line Guide<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/databases">Guide to Databases<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/showfavs">Our Class Database</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/intro">Introduction to Databases in Medicine</a>
              </li>
            </ul>
          </div>
        </nav>
    <div class="jumbotron text-center">
  <h1></h1>
  <h1 style="font-size:60px;"> Mastering the Command Line</h1>
  <h7></h7>
</div>
<div align = "center" >

</div>
  <h5 align="center" bgcolor="#B8860B"> </h5>
  <h2 align="center"> </h2>
  <div class="container">
    <h2 style="font-size:40px;" align="center"> SET UP:</h2>
      <p align="center"> 1. Open the terminal (MAC OS & Linux)</p>
    <h2 style="font-size:40px;" align="center"> LAB ONE: AROUND THE WORLD</h2>

    <p align="center"> 1. Use the command line to make it to the "around-the-world" Directory! See hints below on what commands to use! </p>
    <p align="center"> 2. Use the command line to make sure that all of the cities are in the right country and each city folder has the right monuments. You wouldn't want to end up in Greece looking for the Eiffel Tower!</p>
    <p align="center"> 3. Add new cities and monuments that YOU would like to visit around the world using the command line :)))). </p>
    <p align="center"> EXTENSION: Mix up the cities, and go into the city of your choice... stay in that city and do what is listed above again !!! </p>
    <p align="center"> Help someone if you finish all of this! </p>
    <h2 style="font-size:40px;" align="center"> Helpful List of commands that might be needed!</h2>
    <p align="center"> -ls (list files that are in the current directory (also known as a folder in the englist language!)) </p>
    <p align="center"> -pwd (print current directory that you are in!)</p>
    <p align="center"> -cd (change directory)</p>
    <p align="center"> - . (the current directory)</p>
    <p align="center"> - .. (parent directory (also known as the folder above the one you are in!))</p>
    <p align="center"> -touch (create file)</p>
    <p align="center"> -mkdir (make a folder)</p>
    <p align="center"> -mv ____ _____ (move ____ to ____)</p>
    <p align="center"> -cp _____ _____ (copy _____ to ____)</p>
    <p align="center"> -gedit [file] (open the file and edit the text!)</p>
    <h5 align="center" > </h5>
  <div align = "center">
</div>

</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
