<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Introduction to Databases</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
          <a class="navbar-brand" href="/"><img src="/my-images/pulselogo.png" height=50px width=50px/></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/workshop">Workshop Plan<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/commandline">Command Line Guide<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/databases">Guide to Databases<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/showfavs">Our Class Database</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/intro">Introduction to Databases in Medicine</a>
              </li>
            </ul>
          </div>
        </nav>
    <div class="jumbotron text-center">
  <h1></h1>
  <h1 style="font-size:60px;"> Implementing a Database </h1>
  <h7></h7>
</div>
<div align = "center" >
</div>
<div style="white-space:pre" align = "center" class="container">
  <h2 style="font-size:40px;" align="center"> TASK:</h2>
  <p align="center"> 1. While in Atom, go to "File", "Open", and find the entire folder zip file you downloaded "app-engine-starter" </p>
  <p align="center"> 2. Take a look through the main.py file. This is where we accept some of the user inputs for our database (like your name!), and is sometimes called the controller! </p>
  <p>There are three main components: the imports (line webapp2), the handlers (these respond to our requests!), and the app configuration. </p>
  <img align = "center" src="my-images/main.png" height=400px width=800px>
  <img align = "center" src="my-images/foodhandler.png" height=600px width=700px>
  <p align="center"> 3. To launch the app in the command line, copy over the following: dev_appserver.py app.yaml </p>
  <img align = "center" src="my-images/app.png" height=800px width=600px>
  <p align="center"> 4. The root route (app = webapp2.WSGIApplication([('/', MainPage), #the root route], debug=True)) is the location where the handler is directed to. </p>
  <p>You know how if you want to go to a specific part of a web application, you use /???? where ???? specifies one part of the application! This is where we use it comes from.</p>
  <img align = "center" src="my-images/rootroute.png" height=400px width=600px>
  <p align="center"> 5. TEMPLATES!!! WHAT WOULD WE DO WITHOUT THEM? these gems allow us to use external data, </p>
  <p>but you have to import them to put them to use as part of Google App Engine...my personal favorite "import webapp2" :) </p>
  <img align = "center" src="my-images/html.png" height=400px width=600px>
  <p align="center"> 6. GETTING USER DATA AHHHHHHHH -> we use a form :) </p>
  <img align = "center" src="my-images/form.png" height=400px width=900px>
  <p align="center"> 7. To get the data you asked for.... use self.request.get() with or without an argument (which is what does inside the () of a method!)</p>
  <p align="center"> 8. Want to deploy? Create an account on the <a href="https://console.cloud.google.com/getting-started">Google Platform Developer's console</a> </p>
  <p>and run in the command line the following: gcloud app deploy app.yaml --project [STUDENTS_PROJECT_ID]</p>
  <p>.... and go to http://[STUDENTS__PROJECT_ID].appspot.com to see your innovation! </p>
  <h5 align="center"> </h5>
<div align = "center">
</div>


</div>
  <h5 align="center" bgcolor="#B8860B"> </h5>
  <h2 align="center"> </h2>
  <div class="container">
    <h5 align="center" > </h5>
  <div align = "center">
</div>

</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
