<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title >Workshop Details</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
          <a class="navbar-brand" href="/"><img src="/my-images/pulselogo.png" height=50px width=50px/></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/workshop">Workshop Plan<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/commandline">Command Line Guide<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/databases">Guide to Databases<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/showfavs">Our Class Database</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/intro">Introduction to Databases in Medicine</a>
              </li>
            </ul>
          </div>
        </nav>
    <div class="jumbotron text-center">
  <h1></h1>
  <h1 style="font-size:60px;"> Guide to the Workshop </h1>

  <h7></h7>
</div>
<div align = "center" >
</div>
  <h5 align="center" bgcolor="#B8860B"> </h5>
  <h2 align="center"> </h2>
  <div align="center">
  <h2 align="center">Workshop Schedule</h2>
  <p>1. Introduction to Databases</a></p>
  <p>2. Command Line (Code-Along)</a></p>
  <p>3. Command Line Lab (Around the World)</p>
  <p>4. Databases (Code-Along)</p>
  <p>5. Databases (do it yourself !!!) </p>
</div>
  <div class="container">
    <h2 >To get ready for the workshop...</h2>
    <p>1. Sign up for an account on Github if you do not have one at <a href="https://github.com/">https://github.com/</a></p>
    <p>2. Find the labs on Github! These labs were written for beginners by Google Engineers! <a href="https://github.com/google/cssi-labs">https://github.com/google/cssi-labs</a></p>
    <p>3. Click on Repositories on the navigation bar on top!</p>
    <p>4. Click on databases on the navigation bar on top!</p>
    <p>5. Click on the green button that says "Clone or download" on the right!</p>
    <p>6. Click "Download Zip"</p>
    <p>7. Open "Atom" application</p>
    <p>8. Once in Atom, go to "File" ---> "Open..." and find the zip called "cssi-labs" you downloaded, and then find "command-line"----> "labs"---->, and then finally open "around-the-world"... make sure you get the whole folder!</p>
    <p>9. After the first lab is done... Once in Atom, go to "File" ---> "Open..." and find the zip called "cssi-labs" you downloaded, and then find "appEngine-Datastore"----> and open "app-engine-starter"... make sure you get the whole folder!</p>
    <h5 align="center" > </h5>
  <div align = "center">
</div>

</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
